.footer {
   padding: 80px 0;
   background-color: $footer;
   // .footer__inner

   &__inner {}

   // .footer__top

   &__top {
      padding-bottom: 80px;
      border-bottom: 2px solid #B7B7B7;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
   }

   // .footer__links

   &__links {
      grid-column: 1 / 2 span;
      display: flex;
      gap: 100px;
   }

   // .footer__nav

   &__nav {}

   // .footer__form

   &__form {
      grid-column: 9 / 12 span;
   }

   // .footer__bottom

   &__bottom {}
}


.footer-nav {

   // .footer-nav__title

   &__title {
      font-family: $main-font;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #DFDDDD;
      margin-bottom: 32px;
   }

   // .footer-nav__list

   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
   }

   // .footer-nav__item

   &__item {}

   // .footer-nav__link

   &__link {
      font-family: $main-font;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #B7B7B7;

      transition: all 0.4s ease-in;

      &:hover {
         color: $white;
      }
   }
}

.footer-form {
   display: flex;
   flex-direction: column;
   position: relative;

   &__title {
      font-family: $main-font;
      font-weight: 400;
      font-size: 42px;
      line-height: 49px;
      color: #DFDDDD;
      margin-bottom: 32px;
   }

   // .footer-form__mail

   &__mail {
      padding-bottom: 18px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid #DFDDDD;
      margin-bottom: 24px;

      &::placeholder {
         font-family: $main-font;
         font-weight: 400;
         font-size: 20px;
         line-height: 120%;
         color: #DFDDDD;
      }
   }

   // .footer-form__btn

   &__btn {
      width: 38px;
      height: 38px;
      background-color: #D9D9D9;
      border-radius: 50%;

      background-image: url('../img/icons/icons.svg#arrow');
      background-position: center center;
      /* x y */
      background-size: cover;
      background-repeat: no-repeat;

      position: absolute;
      right: 0;
      top: 80px;

   }

   // .footer-form__descr

   &__descr {
      font-family: $main-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #828282;
      margin-bottom: 116px;
   }

   // .footer-form__tel

   &__tel {
      font-family: $main-font;
      font-weight: 600;
      font-size: 48px;
      line-height: 57px;
      color: #DFDDDD;
   }

   // .footer-form__email

   &__email {
      font-family: $main-font;
      font-weight: 600;
      font-size: 48px;
      line-height: 57px;
      color: #DFDDDD;
   }
}


.footer-bottom {
   padding: 50px 0;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-content: flex-start;
   align-items: flex-start;

   // .footer-bottom__descr

   &__descr {
      order: 0;
      font-family: $main-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #DFDDDD;
   }

   // .footer-bottom__link

   &__link {
      order: 0;
      flex: 0 1 auto;
      font-family: $main-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #DFDDDD;


      transition: all 0.4s ease-in;

      &:hover {
         color: $white;
      }
   }
}

.up {
   order: 1;
   flex: 0 1 auto;
}