.projects {
   padding: 80px 0;
   // .projects__title

   &__title {
      margin-bottom: 32px;
      margin-left: 910px;
   }

   // .projects__cards

   &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(432px, 1fr));
      grid-gap: 20px;
   }

   // .projects__content

   &__content {
      max-width: 435px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   // .projects__descr

   &__descr {
      font-family: $main-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $black;

      &+& {
         margin-bottom: 250px;
      }
   }

   // .projects__link

   &__link {}
}