$black: #000000;
$blue: #21468D;
$grey-dark: #5F5F5F;
$grey-light: #B7B7B7;
$white: #FFFFFF;
$footer: #2F2F2F;

//fonts
$main-font: 'Gilroy', sans-serif;
$second-font: 'Manrope', sans-serif;
$third-font: 'Roboto', sans-serif;
$fourth-font: 'Inter', sans-serif;