.service-cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(434px, 1fr));
   grid-gap: 20px;
   // .service-cards__item

   &__item {
      min-height: 434px;
      padding: 62px 32px;
      border: 1px solid #DFDDDD;

      transition: all .3s ease-in;

      &:hover {
         border: 1px solid #878787;
      }

      &:first-child {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }

      &:nth-child(3) {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
      }

      &:last-child {
         background-color: #fff;
         background-image: url('../img/cards/card-bg.jpg');
         background-position: center center;
         /* x y */
         background-size: 404px;
         background-repeat: no-repeat;
      }
   }

   // .service-cards__title

   &__title {
      font-family: $main-font;
      font-weight: 600;
      font-size: 28px;
      line-height: 33px;
      color: $black;

      margin-bottom: 18px;
   }

   // .service-cards__descr

   &__descr {
      font-family: $main-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $grey-dark;
   }
}