.main-link {
   font-family: 'Gilroy';
   font-weight: 600;
   background-color: $black;
   border: 1px solid $black;
   border-radius: 18px;
   color: $white;
   display: flex;
   align-items: center;
   justify-content: center;
}